{%- assign releases = include.releases | sort: 'date' | reverse -%}
<ul class="cards cards--music">
  {%- for p in releases %}
  {%- if p.albumcover contains '://' %}{% assign cover = p.albumcover %}{% else %}{% assign cover = p.albumcover | relative_url %}{% endif %}
  <li class="card">
    {% if p.albumcover %}
    <a href="{{ p.url | relative_url }}" tabindex="-1" aria-hidden="true">{% include img.html src=p.albumcover alt="" sizes="(max-width: 40rem) 100vw, 380px" %}</a>
    {% endif %}
    <h3><a href="{{ p.url | relative_url }}">{{ p.title | strip }}</a></h3>
    <p class="card-meta">
      {% if p.artists and p.artists != "" %}{{ p.artists }} &middot; {% endif %}
      <time datetime="{{ p.date | date_to_xmlschema }}">{{ p.date | date: "%Y" }}</time>
    </p>
    <p class="card-links">
      {% if p.spotify and p.spotify != "" %}<a href="{{ p.spotify }}">spotify</a>{% endif %}
      {% if p.applemusic and p.applemusic != "" %}<a href="{{ p.applemusic }}">apple</a>{% endif %}
      {% if p.bandcamp and p.bandcamp != "" %}<a href="{{ p.bandcamp }}">bandcamp</a>{% endif %}
    </p>
  </li>
  {%- endfor %}
</ul>
