<h1 class="wordmark">
  <a href="{{ '/' | relative_url }}" title="Home">
<pre aria-hidden="true">██████╗ ██████╗  █████╗ ████████╗███╗   ██╗ ██╗██╗  ██╗
██╔══██╗╚════██╗██╔══██╗╚══██╔══╝████╗  ██║███║██║ ██╔╝
██████╔╝ █████╔╝╚█████╔╝   ██║   ██╔██╗ ██║╚██║█████╔╝
██╔══██╗ ╚═══██╗██╔══██╗   ██║   ██║╚██╗██║ ██║██╔═██╗
██████╔╝██████╔╝╚█████╔╝   ██║   ██║ ╚████║ ██║██║  ██╗
╚═════╝ ╚═════╝  ╚════╝    ╚═╝   ╚═╝  ╚═══╝ ╚═╝╚═╝  ╚═╝</pre>
    <span class="wordmark-text">{{ site.title }}</span>
  </a>
</h1>
